#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };

    behaviors {
        HRMShiftR: HRMShiftR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMSHIFTR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <20 0 1 2 3 4 10 11 12 13 14 21 22 23 24>;
        };

        HRMShiftL: HRMShiftL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMSHIFTL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
            hold-trigger-on-release;
        };

        HRMR: HRMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <20 0 1 2 3 4 10 11 12 13 14 21 22 23 24>;
            flavor = "tap-preferred";
        };

        HRML: HRML {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };

        HRMGuiR: HRMGuiR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMGUIR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <20 0 1 2 3 4 10 11 12 13 14 21 22 23 24>;
            flavor = "tap-preferred";
        };

        HRMGuiL: HRMGuiL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMGUIL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp Q                &kp W             &kp F          &kp P                    &kp B      &kp J  &kp L                     &kp U          &kp Y              &kp SEMICOLON
&HRMGuiL LEFT_GUI A  &HRML LEFT_ALT R  &HRML LCTRL S  &HRMShiftL LEFT_SHIFT T  &kp G      &kp M  &HRMShiftR RIGHT_SHIFT N  &HRMR RCTRL E  &HRMR RIGHT_ALT I  &HRMGuiR RIGHT_GUI O
&kp Z                &kp X             &kp C          &kp D                    &kp V      &kp K  &kp H                     &kp COMMA      &kp DOT            &lt 7 SLASH
                                       &lt 1 ESCAPE   &lt 2 SPACE              &lt 3 TAB                                                  &lt 2 ENTER        &lt 3 BACKSPACE
            >;
        };

        Num {
            bindings = <
&none     &kp C_NEXT  &kp C_PP   &kp C_PREV  &none        &kp LBKT         &kp N7  &kp N8  &kp N9  &kp RBKT
&kp LGUI  &kp LALT    &kp LCTRL  &kp LSHIFT  &none        &kp KP_PLUS      &kp N4  &kp N5  &kp N6  &kp KP_MINUS
&none     &none       &none      &none       &bootloader  &kp KP_MULTIPLY  &kp N1  &kp N2  &kp N3  &kp KP_SLASH
                      &none      &none       &trans                                        &none   &trans
            >;
        };

        Nav {
            bindings = <
&kp C_AC_UNDO  &kp C_AC_CUT  &kp K_COPY  &kp C_AC_PASTE  &kp C_AC_REDO  &kp C_AC_REDO  &kp RS(C_AC_PASTE)  &kp C_AC_COPY  &kp C_AC_CUT  &kp C_AC_UNDO
&kp LEFT       &kp UP        &kp DOWN    &kp RIGHT       &none          &kp CAPSLOCK   &kp LEFT            &kp DOWN       &kp UP        &kp RIGHT
&kp HOME       &kp PG_UP     &kp PG_DN   &kp END         &none          &kp INSERT     &kp HOME            &kp PAGE_DOWN  &kp PAGE_UP   &kp END
                             &trans      &trans          &none                                                            &kp ENTER     &kp DEL
            >;
        };

        Mouse {
            bindings = <
&kp C_AC_UNDO  &kp C_AC_CUT  &kp C_AC_COPY  &kp C_AC_PASTE  &kp C_AC_REDO  &kp C_AC_REDO  &kp C_AC_PASTE  &kp C_AC_COPY   &kp C_AC_CUT  &kp C_AC_UNDO
&kp LGUI       &kp LALT      &kp LCTRL      &kp LSHIFT      &none          &none          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
&none          &none         &none          &none           &none          &none          &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT
                             &none          &none           &none                                                         &mkp MB3      &mkp MB1
            >;
        };
    };
};
